/*
 * Infoplus API
 * Infoplus API.
 *
 * OpenAPI spec version: v3.0
 * Contact: api@infopluscommerce.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package com.infopluscommerce.api;

import com.infopluscommerce.ApiCallback;
import com.infopluscommerce.ApiClient;
import com.infopluscommerce.ApiException;
import com.infopluscommerce.ApiResponse;
import com.infopluscommerce.Configuration;
import com.infopluscommerce.Pair;
import com.infopluscommerce.ProgressRequestBody;
import com.infopluscommerce.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import com.infopluscommerce.model.PackingSlipTemplateLineExtraDataEnum;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class PackingSlipTemplateLineExtraDataEnumApi {
    private ApiClient apiClient;

    public PackingSlipTemplateLineExtraDataEnumApi() {
        this(Configuration.getDefaultApiClient());
    }

    public PackingSlipTemplateLineExtraDataEnumApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getPackingSlipTemplateLineExtraDataEnumById
     * @param packingSlipTemplateLineExtraDataEnumId Id of packingSlipTemplateLineExtraDataEnum to be returned. (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getPackingSlipTemplateLineExtraDataEnumByIdCall(String packingSlipTemplateLineExtraDataEnumId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v3.0/packingSlipTemplateLineExtraDataEnum/{packingSlipTemplateLineExtraDataEnumId}"
            .replaceAll("\\{" + "packingSlipTemplateLineExtraDataEnumId" + "\\}", apiClient.escapeString(packingSlipTemplateLineExtraDataEnumId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getPackingSlipTemplateLineExtraDataEnumByIdValidateBeforeCall(String packingSlipTemplateLineExtraDataEnumId, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'packingSlipTemplateLineExtraDataEnumId' is set
        if (packingSlipTemplateLineExtraDataEnumId == null) {
            throw new ApiException("Missing the required parameter 'packingSlipTemplateLineExtraDataEnumId' when calling getPackingSlipTemplateLineExtraDataEnumById(Async)");
        }
        

        com.squareup.okhttp.Call call = getPackingSlipTemplateLineExtraDataEnumByIdCall(packingSlipTemplateLineExtraDataEnumId, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get a packingSlipTemplateLineExtraDataEnum by id
     * Returns the packingSlipTemplateLineExtraDataEnum identified by the specified id.
     * @param packingSlipTemplateLineExtraDataEnumId Id of packingSlipTemplateLineExtraDataEnum to be returned. (required)
     * @return PackingSlipTemplateLineExtraDataEnum
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public PackingSlipTemplateLineExtraDataEnum getPackingSlipTemplateLineExtraDataEnumById(String packingSlipTemplateLineExtraDataEnumId) throws ApiException {
        ApiResponse<PackingSlipTemplateLineExtraDataEnum> resp = getPackingSlipTemplateLineExtraDataEnumByIdWithHttpInfo(packingSlipTemplateLineExtraDataEnumId);
        return resp.getData();
    }

    /**
     * Get a packingSlipTemplateLineExtraDataEnum by id
     * Returns the packingSlipTemplateLineExtraDataEnum identified by the specified id.
     * @param packingSlipTemplateLineExtraDataEnumId Id of packingSlipTemplateLineExtraDataEnum to be returned. (required)
     * @return ApiResponse&lt;PackingSlipTemplateLineExtraDataEnum&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<PackingSlipTemplateLineExtraDataEnum> getPackingSlipTemplateLineExtraDataEnumByIdWithHttpInfo(String packingSlipTemplateLineExtraDataEnumId) throws ApiException {
        com.squareup.okhttp.Call call = getPackingSlipTemplateLineExtraDataEnumByIdValidateBeforeCall(packingSlipTemplateLineExtraDataEnumId, null, null);
        Type localVarReturnType = new TypeToken<PackingSlipTemplateLineExtraDataEnum>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get a packingSlipTemplateLineExtraDataEnum by id (asynchronously)
     * Returns the packingSlipTemplateLineExtraDataEnum identified by the specified id.
     * @param packingSlipTemplateLineExtraDataEnumId Id of packingSlipTemplateLineExtraDataEnum to be returned. (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getPackingSlipTemplateLineExtraDataEnumByIdAsync(String packingSlipTemplateLineExtraDataEnumId, final ApiCallback<PackingSlipTemplateLineExtraDataEnum> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getPackingSlipTemplateLineExtraDataEnumByIdValidateBeforeCall(packingSlipTemplateLineExtraDataEnumId, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<PackingSlipTemplateLineExtraDataEnum>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for getPackingSlipTemplateLineExtraDataEnumBySearchText
     * @param searchText Search text, used to filter results. (optional)
     * @param page Result page number.  Defaults to 1. (optional)
     * @param limit Maximum results per page.  Defaults to 20.  Max allowed value is 250. (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getPackingSlipTemplateLineExtraDataEnumBySearchTextCall(String searchText, Integer page, Integer limit, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v3.0/packingSlipTemplateLineExtraDataEnum/search";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (searchText != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("searchText", searchText));
        if (page != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
        if (limit != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("limit", limit));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "api_key" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getPackingSlipTemplateLineExtraDataEnumBySearchTextValidateBeforeCall(String searchText, Integer page, Integer limit, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        

        com.squareup.okhttp.Call call = getPackingSlipTemplateLineExtraDataEnumBySearchTextCall(searchText, page, limit, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Search packingSlipTemplateLineExtraDataEnums
     * Returns the list of packingSlipTemplateLineExtraDataEnums that match the given searchText.
     * @param searchText Search text, used to filter results. (optional)
     * @param page Result page number.  Defaults to 1. (optional)
     * @param limit Maximum results per page.  Defaults to 20.  Max allowed value is 250. (optional)
     * @return List&lt;PackingSlipTemplateLineExtraDataEnum&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public List<PackingSlipTemplateLineExtraDataEnum> getPackingSlipTemplateLineExtraDataEnumBySearchText(String searchText, Integer page, Integer limit) throws ApiException {
        ApiResponse<List<PackingSlipTemplateLineExtraDataEnum>> resp = getPackingSlipTemplateLineExtraDataEnumBySearchTextWithHttpInfo(searchText, page, limit);
        return resp.getData();
    }

    /**
     * Search packingSlipTemplateLineExtraDataEnums
     * Returns the list of packingSlipTemplateLineExtraDataEnums that match the given searchText.
     * @param searchText Search text, used to filter results. (optional)
     * @param page Result page number.  Defaults to 1. (optional)
     * @param limit Maximum results per page.  Defaults to 20.  Max allowed value is 250. (optional)
     * @return ApiResponse&lt;List&lt;PackingSlipTemplateLineExtraDataEnum&gt;&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<List<PackingSlipTemplateLineExtraDataEnum>> getPackingSlipTemplateLineExtraDataEnumBySearchTextWithHttpInfo(String searchText, Integer page, Integer limit) throws ApiException {
        com.squareup.okhttp.Call call = getPackingSlipTemplateLineExtraDataEnumBySearchTextValidateBeforeCall(searchText, page, limit, null, null);
        Type localVarReturnType = new TypeToken<List<PackingSlipTemplateLineExtraDataEnum>>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Search packingSlipTemplateLineExtraDataEnums (asynchronously)
     * Returns the list of packingSlipTemplateLineExtraDataEnums that match the given searchText.
     * @param searchText Search text, used to filter results. (optional)
     * @param page Result page number.  Defaults to 1. (optional)
     * @param limit Maximum results per page.  Defaults to 20.  Max allowed value is 250. (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getPackingSlipTemplateLineExtraDataEnumBySearchTextAsync(String searchText, Integer page, Integer limit, final ApiCallback<List<PackingSlipTemplateLineExtraDataEnum>> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getPackingSlipTemplateLineExtraDataEnumBySearchTextValidateBeforeCall(searchText, page, limit, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<List<PackingSlipTemplateLineExtraDataEnum>>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
